body {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  padding: 10px;
  margin: 0px;
  background-color: black;
}

h1 {
  padding: 20px;
}

.base-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lb-container {
  background-color: black;
}

.metric-container {
  border-left: 1px solid gray;
}

.metric {
  display: flex;
  padding: 10px;
}

.metric-label {
  width: 50px;
  margin-right: 5px;
}

.metric-value {
  width: 200px;
  font-family: "Courier New", Courier, monospace;
  font-size: 300%;
  border: 1px solid gray;
  background-color: #030;
}

.bar {
  border-radius: 0px 8px 8px 0px;
  border-top: 1px solid white;
  border-bottom: 1px solid black;
  height: 16px;
  margin-bottom: 30px;
  width: 0px;
  transition: width 0.5s ease;
}

#metric-bar-r {
  background: linear-gradient(to bottom, #faa, #f00, #a00, #faa);
}

#metric-bar-g {
  background: linear-gradient(to bottom, #afa, #3f3, #0a0, #afa);
}

#metric-bar-b {
  background: linear-gradient(to bottom, #aaf, #00f, #00a, #aaf);
}

.txt-r {
  text-align: right;
}

.tweet-container {
  padding: 20px;
}

#tweet-navi {
  color: gray;
  margin-bottom: 10px;
}

#tweet-navi span {
  padding: 20px;
}

#tweet-navi span:hover {
  color: white;
  cursor: pointer;
}

.tweet {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
  background-color: #222;
}

.tweet-pimg {
  align-self: center;
}

.tweet-text {
  align-self: center;
  padding: 5px;
  color: #ddd;
}

/* SVG */

#light {
  stroke: white;
  stroke-width: 4;
  fill: #111;
  transition: fill 0.5s ease;
}

#reflection {
  fill: url(#fade);
}

/* gradient */
#fade-stop-1 {
  stop-color: #000;
  transition: stop-color 0.5s ease;
}

#fade-stop-2 {
  stop-color: black;
}

.highlight {
  fill: white;
}

.bulb {
  fill: gray;
  stroke: lightgray;
}
